

body{
    margin: 15;
    padding: 0;
    font-size: 16px;
    line-height: 1.4em;
    color: rgb(83, 11, 11);
    background: #efefef;
    font-family: sans-serif;
}

.section{
    clear: both;
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #6a99a5; /* Color del header */
    box-shadow: #296c86; /* Código por definir para que sirve */ 
    z-index: 2;
}

.header-content{
    max-width: 1200px; /* Comentario */
    margin: auto; /* Comentario */
    display: flex;
    justify-content: space-between; /* Comentario */
}

.logo{
    height: 80px; /* Altura del logo en el header */ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: #ffffff; /* Color del texto Informática*/
}


.menu {
    height: 80px; /* Altura del Menú en el header */
}

.menu nav{
    height: 100%; /* Altura del menu de navegación */
}

.menu nav ul{
    height: 100%;
    display:flex; /* posición del menú de navegación*/
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px; /* margen entre la lista del menú*/
    display: flex; /* Indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible */
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{ /* Selector del menú, linea de color*/
    content: '';
    width: 100%;
    height: 7px; /* Linea indicando la navegación seleccionada*/
    background: #0a0a0a; /* color del selector*/
    position:fixed;
    top: 0;
    left: 0;
}

.menu nav ul li a{ /* posición del menú de navegación*/
    color: #ffffff; /* */
    font-size: 18px; /* posición del menú de navegación*/
    transition: color 300ms; /* posición del menú de navegación*/
}

.menu nav ul li a:hover{
    color: #f5d23d; /* color del efecto al pasar el puntero en el menú */
}

.menu .text-menu-selected{ /* Selector menú Inicio */
    color: #d66cf7;
}

.menu nav ul li a i{ /* No borrar! */
    display: none;
}

#icon-menu{ /* propiedades del icono del menú */
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #c0c0c7; /* Color del icono del menú*/
    border-radius: 100%;
    color: #4e4b4b; /* Color interior icono del menú */
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{ /*Efecto señalador con el mouse */
    opacity: 0.8;
}


/* Propiedades de Portada*/
.container-cover{
    width: 100%;
    height: 800px;
    position: relative;
    margin-top: 80px;
    background-image: url(../imagenes/fondo.info1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: justify;
}

/* Propiedades la cubierta de portada*/
.container-cover:before{ 
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(46, 46, 46, 0.8); /* color de la cubierta*/
    position: absolute;
    top: 0;
    left: 0;
}

/* Propiedades contenedor de la cubierta */
.container-info-cover{
    max-width: 800px;  /*ancho máximo del contenedor de la cubierta */
    height: 600px; /* altura de la contenedor de la cubierta */
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{ /* texto titulo en portada */
    font-size: 60px;
    font-weight: 90px;
    color: #ffffff; /* color del titulo en portada */
    margin-bottom: 0px;
}

.container-info-cover p{ /* texto subtitulo en portada*/
    color: #ffffff; /* color del subtitulo en portada */
    font-size: 28px;
    font-weight: 200;

    
}
@media screen and (max-width: 1220px){

    .header-content,
    .container-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }
    .blog-content,
    .post-link{
        font-size: .9em;
    }
    
    .side-content{
        font-size: .8em;
    }

    .span_3_of_3{
        width: 100%;
    }
    
    .span_2_of_3{
        width: 63%;
    }
    
    .span_1_of_3{
        width: 32.2%;
    }


}

@media screen and (max-width: 1020px){

    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 0px;
    }


}


@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }
    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 100px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }

    #icon-menu{
        display: flex;
    }

    .container-aside{
        flex-wrap: wrap;
    }

}

@media screen and (max-width:1000px){
    
    
    .content-menu{
        position: fixed;
        width: 100%;
        height: auto;
        display: none;
        padding: 20px;
    }
    
    .content-item{
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: center;
    }
    
    .content-item span{
        padding: 20px;
    }
    
    
    .content-menu h4{
        transform: translateX(0px);
    }
    
    
    .content-article{
        padding: 0px;
        margin-top: 60px;
        margin-left: 0;
    }

    .content-article article{
        padding: 10px;
    }
}




/*Segundo codigo css*/


body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4em;
    color: rgb(83, 11, 11);
    background: #efefef;
    font-family: sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

a{
    text-decoration: none;
    color: inherit;
}

.section{
    clear: both;
    padding: 0;
    margin: 0;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child{
    margin-left: 0;
}
.span_3_of_3{
    width: 100%;
}

.span_2_of_3{
    width: 70%;
}

.span_1_of_3{
    width: 25%;
}




/*Publicaciones*/

.container{
    max-width: 1020px;
    margin: 0 auto;
    margin-top: -20px;
    padding: 20px;
}

.blog-post{
    background: white;
    margin: 0 auto 2em auto;
    padding: 35px 30px;
}

.side-post{
    background: white;
    margin: 0 auto 1.5em auto;
    width: 15em;
    padding: 20px;
}

.blog-content{
    font-size: 1em;
    border-left: 5px solid #7c2be7;
    padding-left: 15px;
}

.side-content{
    font-size: .9em;
    margin-top: 8px;
    margin-bottom: 0px;
}

.blog-title{
    font-weight: 500px;
    font-size: 2.5em;
    margin-top: 10px;
    text-align: center;
}

.date{
    font-size: 1em;
    font-weight: 400;
    color: #9c9c9c;
    margin-top: -10px;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.post-link{
    color: #ac1212f6;
    font-style: italic;
    transition: all 0.4s;
}

.post-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

/*footer*/

footer{
    width: 100%;
    float: right;
    background: #000000;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
}

footer h1{
    margin: 20px auto;
}

footer p{
    margin: auto;
}




