@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'open sans';
font-size: 22px;
}
body{
background: rgba(209, 208, 203, 0.66)
 
}
/*Contenedor de todo*/
.container-all{
width: 100%;
max-width: 1200px;
margin: auto;
padding: 60px;

background: white;
margin-top: 60px;
border-top: 6px solid rgba(191, 22, 68, 0.99);
}
/*Titulo*/
.title{
font-size: 40px;
text-align: center;
margin-bottom: 60px;
color:#03030e;
}
/*Subtitulo*/
.sub-title{
font-size: 30px;
font-weight: 400;
color:rgba(134, 132, 143, 0.878);
}
/*Contenedor de imagen*/
.container-all img{
width: 300px;
float: left;
margin-right: 20px;
margin-bottom: 20px;
}
/*Contenedor de todas las etiquetas p*/
.container-all p{
font-size: 20px;
font-weight: 300;
margin-top: 20px;
}
/*Contenedor de todas las etiquetas b*/
.container-all b{
font-size: 20px;
color:#2c2c31;
font-weight: normal;
}
/*Encabezado o Descripción que aparece en el footer, autor y
derechos*/
h3{
color:rgb(255, 255, 255);
}
footer{
    margin-top: 60px;
    padding: 30px;
    text-align: center;
    background: #070707;
    }



    .galeria {
        width: 100%;
        height: 500px;
        overflow: hidden;
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }
    .imagenes {
        width: 33.33%;
        height: 400px;
        overflow: hidden;
        position: relative;
    }
    
    .imagenes img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    